### setup

In [1]:
import pandas as pd

### import

The Metropolitan Museum of Art Open Access CSV <br>
https://github.com/metmuseum/openaccess

In [6]:
df = pd.read_csv('openaccess\MetObjects.csv', dtype='str')

In [7]:
df.shape

(477804, 54)

In [8]:
df.head()

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979,Coin,One-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,67.265.9,False,False,False,3,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,67.265.10,False,False,False,4,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,67.265.11,False,False,False,5,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

In [9]:
df['Object ID'].nunique()

477804

In [10]:
df.columns

Index(['Object Number', 'Is Highlight', 'Is Timeline Work', 'Is Public Domain',
       'Object ID', 'Gallery Number', 'Department', 'AccessionYear',
       'Object Name', 'Title', 'Culture', 'Period', 'Dynasty', 'Reign',
       'Portfolio', 'Constituent ID', 'Artist Role', 'Artist Prefix',
       'Artist Display Name', 'Artist Display Bio', 'Artist Suffix',
       'Artist Alpha Sort', 'Artist Nationality', 'Artist Begin Date',
       'Artist End Date', 'Artist Gender', 'Artist ULAN URL',
       'Artist Wikidata URL', 'Object Date', 'Object Begin Date',
       'Object End Date', 'Medium', 'Dimensions', 'Credit Line',
       'Geography Type', 'City', 'State', 'County', 'Country', 'Region',
       'Subregion', 'Locale', 'Locus', 'Excavation', 'River', 'Classification',
       'Rights and Reproduction', 'Link Resource', 'Object Wikidata URL',
       'Metadata Date', 'Repository', 'Tags', 'Tags AAT URL',
       'Tags Wikidata URL'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477804 entries, 0 to 477803
Data columns (total 54 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Object Number            477804 non-null  object
 1   Is Highlight             477804 non-null  bool
 2   Is Timeline Work         477804 non-null  bool
 3   Is Public Domain         477804 non-null  bool
 4   Object ID                477804 non-null  int64
 5   Gallery Number           51776 non-null   object
 6   Department               477804 non-null  object
 7   AccessionYear            474248 non-null  object
 8   Object Name              476113 non-null  object
 9   Title                    448619 non-null  object
 10  Culture                  207379 non-null  object
 11  Period                   90956 non-null   object
 12  Dynasty                  23233 non-null   object
 13  Reign                    11226 non-null   object
 14  Portfolio                23530 non-null   object
 15  Constituent ID           275535 non-null  object
 16  Artist Role              273436 non-null  object
 17  Artist Prefix            275535 non-null  object
 18  Artist Display Name      275535 non-null  object
 19  Artist Display Bio       273436 non-null  object
 20  Artist Suffix            275487 non-null  object
 21  Artist Alpha Sort        275535 non-null  object
 22  Artist Nationality       275535 non-null  object
 23  Artist Begin Date        275535 non-null  object
 24  Artist End Date          275535 non-null  object
 25  Artist Gender            103061 non-null  object
 26  Artist ULAN URL          222021 non-null  object
 27  Artist Wikidata URL      217732 non-null  object
 28  Object Date              463937 non-null  object
 29  Object Begin Date        477804 non-null  int64
 30  Object End Date          477804 non-null  int64
 31  Medium                   470684 non-null  object
 32  Dimensions               402510 non-null  object
 33  Credit Line              477353 non-null  object
 34  Geography Type           59769 non-null   object
 35  City                     32407 non-null   object
 36  State                    2550 non-null    object
 37  County                   8450 non-null    object
 38  Country                  75751 non-null   object
 39  Region                   31360 non-null   object
 40  Subregion                22124 non-null   object
 41  Locale                   15709 non-null   object
 42  Locus                    7493 non-null    object
 43  Excavation               16558 non-null   object
 44  River                    2095 non-null    object
 45  Classification           399598 non-null  object
 46  Rights and Reproduction  24198 non-null   object
 47  Link Resource            477804 non-null  object
 48  Object Wikidata URL      22265 non-null   object
 49  Metadata Date            0 non-null       float64
 50  Repository               477804 non-null  object
 51  Tags                     200400 non-null  object
 52  Tags AAT URL             200400 non-null  object
 53  Tags Wikidata URL        200400 non-null  object
dtypes: bool(3), float64(1), int64(3), object(47)
memory usage: 187.3+ MB

In [13]:
len(df['Link Resource'].unique())

477804

In [15]:
df['Department'].value_counts(normalize=True)

Drawings and Prints                          0.349834
European Sculpture and Decorative Arts       0.089857
Photographs                                  0.077839
Asian Art                                    0.077055
Greek and Roman Art                          0.070636
Costume Institute                            0.065742
Egyptian Art                                 0.058522
The American Wing                            0.038535
Islamic Art                                  0.032384
Modern and Contemporary Art                  0.029805
Arms and Armor                               0.028487
Arts of Africa, Oceania, and the Americas    0.025816
Medieval Art                                 0.014964
Ancient Near Eastern Art                     0.013022
Musical Instruments                          0.010904
European Paintings                           0.005477
Robert Lehman Collection                     0.005412
The Cloisters                                0.004893
The Libraries                                0.000816
Name: Department, dtype: float64

### check with requests

In [2]:
import requests

In [16]:
random_chucknorris_url = "https://collectionapi.metmuseum.org/public/collection/v1/departments"
r = requests.get(random_chucknorris_url)
r

In [5]:
url = "https://collectionapi.metmuseum.org/public/collection/v1/objects/69066"

r = requests.get(url)
r

In [6]:
r.text

'{"objectID":69066,"isHighlight":false,"accessionNumber":"35.84.8","accessionYear":"1935","isPublicDomain":true,"primaryImage":"https://images.metmuseum.org/CRDImages/as/original/DT4918.jpg","primaryImageSmall":"https://images.metmuseum.org/CRDImages/as/web-large/DT4918.jpg","additionalImages":["https://images.metmuseum.org/CRDImages/as/original/TP468C.jpg","https://images.metmuseum.org/CRDImages/as/original/100832.jpg"],"constituents":null,"department":"Asian Art","objectName":"Robe","title":"Festival Robe","culture":"China","period":"Qing dynasty (1644–1911)","dynasty":"","reign":"","portfolio":"","artistRole":"","artistPrefix":"","artistDisplayName":"","artistDisplayBio":"","artistSuffix":"","artistAlphaSort":"","artistNationality":"","artistBeginDate":"","artistEndDate":"","artistGender":"","artistWikidata_URL":"","artistULAN_URL":"","objectDate":"second half of the 18th century","objectBeginDate":1750,"objectEndDate":1799,"medium":"Silk and metallic thread embroidery on silk satin","dimensions":"57 × 73 1/4 in. (144.8 × 186.1 cm)","measurements":[{"elementName":"Overall","elementDescription":null,"elementMeasurements":{"Height":144.78029,"Width":186.05537}}],"creditLine":"Purchase, Joseph Pulitzer Bequest, 1935","geographyType":"","city":"","state":"","county":"","country":"","region":"","subregion":"","locale":"","locus":"","excavation":"","river":"","classification":"Costumes-Embroidered","rightsAndReproduction":"","linkResource":"","metadataDate":"2022-04-22T05:09:02.033Z","repository":"Metropolitan Museum of Art, New York, NY","objectURL":"https://www.metmuseum.org/art/collection/search/69066","tags":[{"term":"Dragons","AAT_URL":"http://vocab.getty.edu/page/aat/300375726","Wikidata_URL":"https://www.wikidata.org/wiki/Q7559"}],"objectWikidata_URL":"","isTimelineWork":false,"GalleryNumber":""}'

### make a dataframe of costume institute

In [21]:
df_costume = df[df['Department']=='Costume Institute']

In [22]:
df_costume.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31412 entries, 65554 to 477470
Data columns (total 54 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Object Number            31412 non-null  object
 1   Is Highlight             31412 non-null  bool
 2   Is Timeline Work         31412 non-null  bool
 3   Is Public Domain         31412 non-null  bool
 4   Object ID                31412 non-null  int64
 5   Gallery Number           42 non-null     object
 6   Department               31412 non-null  object
 7   AccessionYear            31369 non-null  object
 8   Object Name              31412 non-null  object
 9   Title                    31409 non-null  object
 10  Culture                  31412 non-null  object
 11  Period                   0 non-null      object
 12  Dynasty                  0 non-null      object
 13  Reign                    0 non-null      object
 14  Portfolio                0 non-null      object
 15  Constituent ID           16560 non-null  object
 16  Artist Role              16560 non-null  object
 17  Artist Prefix            16560 non-null  object
 18  Artist Display Name      16560 non-null  object
 19  Artist Display Bio       16560 non-null  object
 20  Artist Suffix            16560 non-null  object
 21  Artist Alpha Sort        16560 non-null  object
 22  Artist Nationality       16560 non-null  object
 23  Artist Begin Date        16560 non-null  object
 24  Artist End Date          16560 non-null  object
 25  Artist Gender            8536 non-null   object
 26  Artist ULAN URL          12683 non-null  object
 27  Artist Wikidata URL      12496 non-null  object
 28  Object Date              31412 non-null  object
 29  Object Begin Date        31412 non-null  int64
 30  Object End Date          31412 non-null  int64
 31  Medium                   31409 non-null  object
 32  Dimensions               0 non-null      object
 33  Credit Line              31401 non-null  object
 34  Geography Type           0 non-null      object
 35  City                     0 non-null      object
 36  State                    0 non-null      object
 37  County                   0 non-null      object
 38  Country                  0 non-null      object
 39  Region                   0 non-null      object
 40  Subregion                0 non-null      object
 41  Locale                   0 non-null      object
 42  Locus                    0 non-null      object
 43  Excavation               0 non-null      object
 44  River                    0 non-null      object
 45  Classification           0 non-null      object
 46  Rights and Reproduction  67 non-null     object
 47  Link Resource            31412 non-null  object
 48  Object Wikidata URL      1195 non-null   object
 49  Metadata Date            0 non-null      float64
 50  Repository               31412 non-null  object
 51  Tags                     7739 non-null   object
 52  Tags AAT URL             7739 non-null   object
 53  Tags Wikidata URL        7739 non-null   object
dtypes: bool(3), float64(1), int64(3), object(47)
memory usage: 12.6+ MB

In [29]:
len(df_costume[df_costume['Object Name'].str.contains('Dress')])

2959

In [30]:
len(df_costume[df_costume['Object Name'].str.contains('Ensemble')])

2178

### select clothes

In [37]:
size = 0
costume_sel = ['Dress','Ensemble','Coat','Blouse','Suit','Bolero','Shorts', 'Caftan', 'Petticoat','Robe']

for cos in costume_sel:
    number = len(df_costume[df_costume['Object Name'].str.contains(cos)])
    print(f'There are {number} {cos}')
    size += number

print(f'My data size will be {size}')

There are 2959 Dress
There are 2178 Ensemble
There are 798 Coat
There are 245 Blouse
There are 977 Suit
There are 13 Bolero
There are 21 Shorts
There are 21 Caftan
There are 143 Petticoat
There are 140 Robe
My data size will be 7495

In [79]:
import urllib
resource = urllib.request.urlopen("https://collectionapi.metmuseum.org/api/collection/v1/iiif/69922/1354526/main-image")
output = open("file02.jpg","wb")
output.write(resource.read())
output.close()