In [8]:
import pandas as pd
import numpy as np
import cv2
import os

import time

### delete grayscale images

In [5]:
directory = 'asian_art_sel'
counter = 0

for filename in os.listdir(directory):
    r = directory + '/' + filename
    image = cv2.imread(r)
    (B, G, R) = cv2.split(image)

    if (B==G).all() == True:
        os.remove(r)
        counter += 1

print(f'{counter} grayscale images deleted.')

0 grayscale images deleted.

### dimension of images

In [114]:
# create dataframe of dimension of the images

# initialte a dataframe for dimension
keys = ['Object ID', 'width','height']
df_dim = pd.DataFrame(columns=keys)

# params
directory = 'asian_art_sel'

# function
for filename in os.listdir(directory):
    r = directory + '/' + filename
    image = cv2.imread(r)
    new_row = {'Object ID':filename, 'width':image.shape[1],'height':image.shape[0]}
    new_row = pd.DataFrame(new_row,index=[0])
    df_dim = pd.concat([df_dim, new_row], ignore_index=True)

In [115]:
# clean the .jpg
df_dim['Object ID'] = df_dim['Object ID'].map(lambda x: x[:-4])

In [116]:
# create a list of our conditions
conditions = [
    df_dim['height'] > df_dim['width'],
    df_dim['height'] < df_dim['width'],
    df_dim['height'] == df_dim['width']
    ]

# create a list of the values we want to assign for each condition
values = ['vertical', 'horizontal', 'square']

# create a new column and use np.select to assign values to it using our lists as arguments
df_dim['ratio'] = np.select(conditions, values)

# display updated DataFrame
df_dim.head()

  Object ID width height       ratio
0    126312  1500   2111    vertical
1    126722  1250   2757    vertical
2    127542  1400   2418    vertical
3     39317  2000   1604  horizontal
4     39747  3811   3049  horizontal

In [117]:
df_dim['ratio'].value_counts()

horizontal    118
vertical       71
Name: ratio, dtype: int64